<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <section class="py-5">
        <div class="container px-5">
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <h2 style="text-align: center">코멘트 수정</h2>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form id="updateForm" th:action="@{/comments/updateComment}" method="post" onsubmit="submitForm(); return false;"> <!--onsubmit="window.onunload = window.opener.location.reload(); window.close();" -->
                            <input type="hidden" name="comment_pk" th:value="${comment.comment_pk}"/>
                            <input type="hidden" name="book_pk" th:value="${comment.book_pk}" />
                            <input type="hidden" name="member_pk" th:value="${comment.member_pk}" />
                            <div class="bg-light p-4 rounded-4">
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="text" id="comment_title" name="comment_title" placeholder="제목을 입력하시오" required>
                                    <label for="comment_title">수정할 제목을 입력하세요</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" style="height: 10rem" id="comment_content" name="comment_content" cols="50" rows="5" placeholder="내용을 입력하시오" required></textarea>
                                    <label for="comment_content">수정할 내용을 입력하세요</label>
                                </div>
                                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">수정</button></div><br>
                                <div class="d-grid"><button class="btn btn-primary btn-lg" onclick="closeFrom()" type="reset">취소</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        function submitForm() {
            var form = document.getElementById('updateForm');
            var formData = new FormData(form);

            // AJAX를 사용하여 폼 데이터를 서버에 비동기적으로 전송
            fetch(form.action, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        // 현재 창 닫기
                        window.close();
                        // 부모 창 새로고침
                        window.opener.location.reload();
                        alert("댓글 수정이 완료되었습니다.");
                    } else {
                        alert('댓글 수정에 실패했습니다.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function closeFrom() {
            window.close();
        }
    </script>
</div>
</body>
</html>